<% if friends%>
<%friends.each do |requests|%>
  <li class="list-group-item">
    <%= requests.friend.name%>
    <%= link_to 'Unfriend', {action: "decline",:controller=>"friendships",user_id: requests.friend.id}, method: :delete, class: 'btn btn-primary' %>
  </li>
<%end%>
<%end%>