<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2 class="req">Requests List</h2>
      <ul class="list-group list-group-flush">
        <%= render 'request'%>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Pending Request</h2>
      <ul class="list-group list-group-flush">
        <%= render 'pending'%>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Friends List</h2>
      <ul class="list-group list-group-flush">
        <%= render 'friends'%>
      </ul>
    </div>
  </div>
</div>